.call-to-action h1 {
    color: white;
    margin: 0px;
}
.call-to-action  a {
    margin: 0px;
}

.call-to-action  strong {
      color: #FFD34E;
}

.hidden {
  display: none;
}

/*flash*/

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}
.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}


.flash.notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  padding: 20px 0px 20px 60px;
}

.required abbr {
    color: red;
    border-bottom: 0px;
    margin-right: 5px;
  }

.navbar-brand {
  padding: 5px 0px 0px 0px;
}

.navbar {
  margin-bottom: 0px;
}

.btn-lg {
  font-size: 15px;
}

.intro-video-section {
  background-image: image_url('home/pattern-2.png');
  padding: 50px 0px 50px 0px;

  p {
    font-size: 1.3em;
  }

  li {
    font-size: 1.3em;
  }
  h1 {
    font-size: 34px;
  }
}

.btn-link {
  font-size: 12px
}

.panel-heading {
  h3 {
    margin-top: 10px;
  }
}

/* Products */

.single-product{
    .single-product-slider{
        border: 1px solid #eee;
        .item img{
            display: block;
            margin: 0 auto;
        }
    }
    .owl-theme .owl-controls {
        margin-top: 10px;
        text-align: right;
        position: absolute;
        width: 50%;
        top: -10px;
        right: 10px;
    }
}
.product-detail-desc{
    .price{
        display: block;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .btn-border{
        border: 1px solid #eee;
    }
    .rating {
        display:block;
        margin-bottom:10px;
        a{
            display: inline-block;
            margin-left: 10px;
        }
    }
    .colors{
        margin-bottom:10px;
        a{
            width: 20px;
            height: 20px;
            display: inline-block;
            &.light{
                background-color: #f5f5f5;
            }
            &.blue{
                background-color: blue;
            }
            &.red{
                background-color: red;
            }
            &.yellow{
                background-color: yellow;
            }
        }
        span{
            display: inline-block;
            line-height: 20px;
            margin-right: 10px;
            top: -5px;
            position: relative;
        }
    }
    .available{
        margin-bottom: 15px;
    }
    .size{
        margin-bottom: 25px;
        select{
            width:60px;
            height:30px;
            &:focus{
                outline: 0;
            }
        }
    }
    .add-buttons{
        a{
            margin: 5px;
        }
    }
}
.item-more-info{
    .tab-content{
        padding-top: 30px;
    }
    .nav-justified>li>a{
        text-transform: uppercase;
        position:relative;
        &:after{
            position: absolute;
            width: 0;
            content:"";
            bottom: 0;
            left: 0;
            border-bottom: 2px solid $skincolor;
            @include transition (width 0.4s);
        }
        &:hover{
            background-color: transparent;
        }
        &:focus{
            background-color: transparent;
            &:after{
                width: 100%;
            }
        }
    }
    .nav-justified>li.active a:after{
        width:100%;
    }
    .media{
        margin-bottom: 35px;
    }
    .media-body p{
        margin-bottom: 5px;
    }
    .form-control{
        border: 2px solid #f5f5f5;
        @include box-shadow(none);
        @include border-radius(0px);
        min-height: 40px;
    }
}
.similar-products{
    margin-top:50px;
    #owl-slider.col-md-12{
        .item{
            padding: 0px 15px;
        }
    }
}

#product-variants {
  ul {
    list-style: none;
    padding: 10px 0px 0px 0px
  }
}

.btn-right {
  position: absolute;
  right: 50px;
}

.video-section .overlay {
  background-image: url("https://s3-us-west-2.amazonaws.com/aerial-haus/images/debut-dark.png");
  opacity: .5;
  background-repeat: repeat;
  background-color: rgba(34, 83, 120, 0.25);
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.margin-top-30 {
  margin-top: 30px;
}

.img-medium {
  width: 99%;
}

#project-carousel .owl-item {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

#project-carousel .owl-item img {
  position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;

}
