<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 margin20">
            <h3 class="heading">Better Services Provide by us</h3>
            <p>
                Aerial Haus specializes in affordable aerial photography and high-definition aerial video. We service multiple industries including commercial and residential real estate, construction, roofing contractors, movie and commercial production, and anyone in need of high-quality aerial drone photography, video, and marketing media in Middle Tennessee.
            </p>
            <p><%= link_to 'Contact us', main_app.contacts_path, class: "btn btn-theme-bg" %></p>
        </div>
        <div class="col-md-6">
            <%= image_tag('https://s3-us-west-2.amazonaws.com/aerial-haus/images/NissanStadiumDrone.jpg', class: "img-medium") %>
        </div>
    </div><!--about intro-->
</div>
<div class="divide60"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="heading">Our Services</h3>
            </div>
        </div>
        <div class="row special-feature">
            <div class="col-md-3 col-sm-6 margin20">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <!-- Icon -->
                        <i class="fa fa-home"></i>
                        <!-- Title -->
                        <h4>Residential Real Estate</h4>
                    </div>
                    <div class="mask-bottom">
                        <!-- Icon -->
                        <i class="fa fa-home"></i>
                        <!-- Title -->
                        <h4>Residential Real Estate</h4>
                        <!-- Text -->
                        <p>
                            Aerial videos and photography is an emerging standard in real estate marketing & advertising.
                        </p>
                    </div>
                </div>

            </div><!--services col-->
            <div class="col-md-3 col-sm-6 margin20">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <!-- Icon -->
                        <i class="fa fa-building-o"></i>
                        <!-- Title -->
                        <h4>Commercial Real Estate</h4>
                    </div>
                    <div class="mask-bottom">
                        <!-- Icon -->
                        <i class="fa fa-building-o"></i>
                        <!-- Title -->
                        <h4>Commercial Real Estate</h4>
                        <!-- Text -->
                        <p>
                            Have your listing stand out with spectacular aerial photography and video
                        </p>
                    </div>
                </div>
            </div><!--services col-->
            <div class="col-md-3 col-sm-6 margin20">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <!-- Icon -->
                        <i class="fa fa-sun-o"></i>
                        <!-- Title -->
                        <h4>Outdoor Events</h4>
                    </div>
                    <div class="mask-bottom">
                        <!-- Icon -->
                        <i class="fa fa-sun-o"></i>
                        <!-- Title -->
                        <h4>Outdoor Events</h4>
                        <!-- Text -->
                        <p>Showcase your event with amazing marketing and recap videos or make your perfect wedding video a reality.</p>
                    </div>
                </div>
            </div><!--services col-->
            <div class="col-md-3 col-sm-6 margin20">
                <div class="s-feature-box text-center">
                    <div class="mask-top">
                        <!-- Icon -->
                        <i class="fa fa-video-camera"></i>
                        <!-- Title -->
                        <h4>Much More</h4>
                    </div>
                    <div class="mask-bottom">
                        <!-- Icon -->
                        <i class="fa fa-video-camera"></i>
                        <!-- Title -->
                        <h4>Much More</h4>
                        <!-- Text -->
                        <p>We can help you with all of your aerial needs, contact us to get started on your next project.</p>
                    </div>
                </div>
            </div><!--services col-->
        </div>
</div>
