<div class="intro-text-1 light call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="animated slideInDown"><strong>1/2 OFF</strong> OF YOUR FIRST FLIGHT!
                </h1>
            </div>
            <div class="col-sm-4">
                <%= link_to 'Contact Us', main_app.page_path('contact'), class:"btn btn-theme-bg btn-lg" %>
            </div>
        </div>
    </div>
</div> <!--intro text end-->
