<section class="call-to-action">
    <div class="container">
        <div class="row">
    	    <div class="col-md-8 col-sm-8 text-right m-text-center">
                <h1><strong>50% OFF</strong> OF YOUR FIRST FLIGHT!</h1>
            </div>
             <div class="col-md-4 text-center col-sm-4 m-text-center">
                <%= link_to 'Contact Us', main_app.contacts_path, class:"btn btn-lg btn-white" %>
            </div>
        </div>
    </div>
</section>
