<div class="divide60"></div>
<!--footer light 1 begin-->
<footer class="footer-light-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 margin40">
                <% if cookies[:saved_lead] %>
                    <h3>Newsletter</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie
                    </p>
                    <p>
                        Thank you for signing up!
                    </p>
                <% else %>
                    <%= render 'spree/shared/newsletter_form' %>
                <% end %>
            </div>

            <div class="col-sm-4 col-sm-offset-2 margin30">
                <h3>Contact us</h3>

                <!-- <div class=" margin10 clearfix">
                    <a href="#" class="social-icon si-dark si-colored-facebook">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-dark si-colored-twitter">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon si-dark si-colored-linkedin">
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="#" class="social-icon si-dark si-colored-google-plus">
                        <i class="fa fa-youtube"></i>
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>  -->

                <ul class="list-unstyled info">
                    <li><i class="pe-7s-phone"></i> 615-970-9931</li>
                    <li><i class="pe-7s-mail"></i> info@aerialhaus.com</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 margin-top-30 margin20">
                    <p>
                        Copyright &copy; 2016. All right reserved. Aerial Haus.
                    </p>
                </div>
                <div class="col-sm-2 col-sm-offset-4">
                    <%= render partial: 'spree/shared/comodo_logo' %>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
