<div class="divide60"></div>
<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center margin30">
                    <div class="footer-col footer-3">
                        <h3>Contact Us</h3>
                        <h3>info@aerialhaus.com</h3>
                         <ul class="list-inline footer-social">
                            <li>
                                <a href="#" class="social-icon si-dark si-gray-round si-colored-facebook">
                                    <i class="fa fa-facebook"></i>
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="social-icon si-dark si-gray-round si-colored-twitter">
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="social-icon si-dark si-gray-round si-colored-pinterest">
                                    <i class="fa fa-youtube"></i>
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!--footer col-->
            </div>
        </div>
    </footer>
