<div class="divide60"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="center-heading">
                    <h2>What <strong>we do</strong> </h2>
                    <span class="center-line"></span>
                    <p class="sub-text margin40">
                        Aerial Haus is the go to aerial filming and photography specialist’s in Middle Tennessee. We use a variety of unmanned aerial vehicles (UAVs) to capture creative content beyond what our competitors can offer, and deliver highly specialized close-range aerial media.
                        </p>
                </div>
            </div>

        </div><!--center heading end-->
        <div class="divide20"></div>
        <div class="row">
            <div class="col-md-3 col-sm-6 margin30">
                <div class="colored-boxed green">
                    <i class="pe-7s-home"></i>
                    <h3>Residential Real Estate</h3>
                    <span class="center-line"></span>
                    <p>
                        Aerial videos and photography is an emerging standard in real estate marketing & advertising.
                    </p>
                </div>
            </div><!--colored boxed col end-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="colored-boxed dark">
                    <i class="pe-7s-culture"></i>
                    <h3>Commercial Real Estate</h3>
                    <span class="center-line"></span>
                    <p>
                        Have your listing stand out with spectacular aerial photography and video
                </div>
            </div><!--colored boxed col end-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="colored-boxed red">
                    <i class="pe-7s-sun"></i>
                    <h3>Outdoor Events</h3>
                    <span class="center-line"></span>
                    <p>
                        Showcase your event with amazing marketing and recap videos or make your perfect wedding video a reality.
                    </p>
                </div>
            </div><!--colored boxed col end-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="colored-boxed blue">
                    <i class="pe-7s-film"></i>
                    <h3>Much More</h3>
                    <span class="center-line"></span>
                    <p>
                        We can help you with all of your aerial needs, contact us to get started on your next project.
                    </p>
                </div>
            </div><!--colored boxed col end-->
        </div>
    </div><!--services container-->
