<div class="intro-video-section">
  <div class="container">
      <div class="row v-align-children">
          <div class="col-sm-6">
              <h1>Assan Learning Campus</h1>
              <p>
                  Qui atqui voluptua maluisset in, has causae consulatu ex.
              </p>
              <ul class="list-unstyled">
                  <li><i class="fa fa-check-square"></i> High quality <b>staff</b></li>
                  <li><i class="fa fa-check-square"></i> Learn through <b>videos</b></li>
                  <li><i class="fa fa-check-square"></i> <b>Online</b> Courses</li>
                  <li><i class="fa fa-check-square"></i> And much more</li>
              </ul>
          </div>
          <div class="col-sm-6">
              <!-- 16:9 aspect ratio -->
              <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="520" height="293" src="https://www.youtube.com/embed/cqNmVJk7Zyg" frameborder="0" allowfullscreen></iframe>
              </div>
          </div>
      </div>
  </div>
</div>
