<div class="intro-video-section">
  <div class="container">
      <div class="row v-align-children">
          <div class="col-sm-6">
              <h1>Create Stunning Marketing Videos</h1>
              <p>
                  Take your project to the next level with amazing aerial footage.
              </p>
              <ul class="list-unstyled">
                  <li><i class="fa fa-check-square"></i> High quality <b>1080P to 4K</b></li>
                  <li><i class="fa fa-check-square"></i> 3-axis gimbal provides <b>beautiful, stable footage</b></li>
                  <li><i class="fa fa-check-square"></i> 12 megapixel photos look <b>crisp and clean</b></li>
              </ul>
          </div>
          <div class="col-sm-6">
              <!-- 16:9 aspect ratio -->
              <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="520" height="293" src="https://www.youtube.com/embed/cqNmVJk7Zyg" frameborder="0" allowfullscreen></iframe>
              </div>
          </div>
      </div>
  </div>
</div>
