<div class="intro-video-section">
  <div class="container">
      <div class="row v-align-children">
          <div class="col-sm-6">
              <h1>Create Stunning Aerial Videos</h1>
              <p>
                  Take your project to the next level.
              </p>
              <ul class="list-unstyled">
                  <li><i class="fa fa-check-square"></i> High quality <b>1080P to 4K</b></li>
                  <li><i class="fa fa-check-square"></i> 3-axis gimbal provides <b>beautiful, stable footage</b></li>
                  <li><i class="fa fa-check-square"></i> 12 megapixel photos look <b>crisp and clean</b></li>
              </ul>
          </div>
          <div class="col-sm-6">
              <!-- 16:9 aspect ratio -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://player.vimeo.com/video/187400539" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/187400539">Franklin Summit - 30.16 Acres</a> from <a href="https://vimeo.com/user43914462">Avison Young</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
              </div>
          </div>
      </div>
  </div>
</div>
